/* Screen colors - RGB */
$black-rgb: rgba(0, 0, 0, 1);
$very-dark-grey-rgb: rgba(74, 74, 74, 1);
$dark-grey-rgb: rgba(102,102,102,1);
$medium-grey-rgb: rgba(153,153,153,1);
$light-grey-rgb: rgba(216, 216, 216, 1);
$very-light-grey-rgb: rgba(239,239,239,1);
$white-rgb: rgba(255, 255, 255, 1);
$red-rgb: rgba(172,0,0,1);
$blue-rgb: rgba(0, 51, 102, 1);
$yellow-rgb:rgba(255, 187, 0, 1);

/* Screen colors - HEX */
$black: #000000;
$text: #AC0000;
$very-very-dark-grey: #343536;
$very-dark-grey: #4a4a4a;
$dark-grey: #666666;
$medium-grey: #999999;
$light-grey: #D8D8D8;
$light-grey-2: #eaeaeb;
$very-light-grey: #efefef;
$white: #FFFFFF;
$red:  #AC0000;
$blue-0-51-102: #003366;
$fb-blue: #3B5998;
$en-forme: #3ca0d2;
$en-panne: $dark-grey;
$light-yellow:#ffffcc;
$yellow:#ffbb00;
$brown: #7F4411;
$green: #669900;
$yellow-bg-color: #fff6de;
$yellow-postillon: #FFB415;


$bckd-nav: #AC0000;
$bckd-nav2: #232425;
$nav-link-c: #fff;
